<!-- Map Legend Component -->
<div class="map-legend">
  <h3 class="map-legend__title">{{ title | default: "Map Legend" }}</h3>
  <div class="map-legend__items">
    {% for item in legend_items %}
      <div class="map-legend__item">
        <div class="map-legend__symbol" style="background-color: {{ item.color }}; {% if item.pattern %}background-image: {{ item.pattern }};{% endif %}"></div>
        <span class="map-legend__label">{{ item.label }}</span>
      </div>
    {% endfor %}
  </div>
</div>
