<!-- Timeline Component -->
<div class="timeline">
  {% for item in timeline %}
    <div class="timeline__item">
      <div class="timeline__date">{{ item.date }}</div>
      <div class="timeline__content">
        <h3 class="timeline__title">{{ item.title }}</h3>
        <div class="timeline__description">
          {{ item.description | markdownify }}
        </div>
        {% if item.sections %}
          <div class="timeline__sections">
            <strong>Affected Sections:</strong>
            {% for section in item.sections %}
              <a href="{{ section.url }}">{{ section.name }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
